body {
    margin: 0;
    height: 100vh;
    background-color: #035e6a;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px; /* Add padding at the bottom */
}

.main-text {
    font-size: 4rem;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-text {
    font-size: 1.5rem;
    opacity: 0.9;
    font-weight: 400;
}

.mail-text {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
    opacity: 0.8;
}

.mail-text a {
    color: white; /* Keeps the link color consistent with the design */
    text-decoration: none;
    opacity: 0.9;
}

.mail-text a:hover {
    text-decoration: underline; /* Adds an underline on hover for better accessibility */
}
