body {
    margin: 0;
    height: 100vh;
    background-color: #3376a1;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    font-size: 4rem;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
    opacity: 0.9;
    font-weight: 400;
}

.mail-text {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 400;
    opacity: 0.8;
}
